* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
.bg-image {
    background-image: url('../images/judge.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}
.overlay {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.log-in {
    color: white;
    margin-top: -200px;
    margin-left: auto;
    padding-bottom: 30px;
    width: 60%;;
}
.log-in .red {
    color: red;
}
.log-in img {
    width: 500px;
    height: 500px;   
    margin-bottom: -150px;
}
.log-in input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.log-in .login-instead {
    font-size: 20px;
    margin-top: 15px;
}